/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}
::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}
::selection {
    background: #b3d4fc;
    text-shadow: none;
}
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}
audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}
fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}
textarea {
    resize: vertical;
}
.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}
/* ===== Initializr Styles ==================================================
   Author: Jonathan Verrecchia - verekia.com/initializr/responsive-template
   ========================================================================== */

body {
    font: 16px/26px 'Lato' sans-serif;
    font-weight: 300;
    height: 100%;
    margin: 0;
    padding: 0;
}
.wrapper {
    width: 100%;
    margin: 0 5%;
}
.header-container {
    background: #000;
}
/* ==============
    MOBILE: Menu
   ============== */

nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
nav a {
    display: block;
    margin-bottom: 10px;
    padding: 10px font-size: 0.8em;
    text-align: left;
    text-decoration: none;
    color: white;
    border-right: 1px solid #444;
}
nav a:hover,
nav a:visited {
    color: white;
}

/* ==============
    MOBILE: Main
   ============== */

.main {
    padding: 30px 0;
}
.main article h1 {
    font-size: 2em;
}
.main aside {
    color: #000;
    padding: 35px 5% 10px;
}
.footer-container footer {
    color: white;
    padding: 80px 50px;
    background-color: #2D3137;
}
.footer-container footer img {
    margin-left: -14px;
}
/* ===============
    ALL: IE Fixes
   =============== */

.ie7 .title {
    padding-top: 20px;
}
/* ==========================================================================
   Author's custom styles
   ========================================================================== */

a:link,
a:visited,
a:hover,
a:active {
    display: block;
    text-decoration: none;
    color: #fff;
    font-size: 0.85em;
    line-height: 2;
}
nav.top-menu .active {
    border-top: 3px solid #FF6000;
}
nav.main-menu {
    display:none;
}
nav.main-menu a {
    font-size: 1em;
    border: none;
}

nav.main-menu .active, nav.main-menu a:hover {
    border-bottom:3px solid #fff;
}

h1,
h2,
h3,
h4 {
    font-weight: 300;
    color: #5c5c5c;
    line-height: 1.4;
}
h1 {} h2 {
    font-size: 2.5em;
}
h3 {
    font-size: 1.5em;
}
h4 {
    font-size: 1.3em;
}
.main-wrapper {
    max-width: 1440px;
    height: auto;
}
.hero {
    position: relative;
    width: 100%;
    height: 80%;
    height: 30vh;
    background: url(../img/moneylink-bg.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.hero .logo {
    width: 20%;
    float: left;
    padding: 38px 0 0 5%;
}
.hero .logo img {
    width: 100%;
    min-width: 40px;
    max-width: 60px;
    height: auto;
}
.hero .logo span {
    color: #fff;
    font-weight: 400;
    margin-left: 20px;
    display: none;
}
.hero .logo a {
    display: inline;
}
.info-icon {
    float: right;
    color: #50E9A1;
}
.info-icon--right-panel {
    color: #fff;
}
/* radio buttons
  
 */


.plan-form {
    margin-bottom:60px;
}

.plan-form .row {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: auto;
}
.plan-form .field {
    color: #5A6677;
    display: inline-block;
    position: relative;
}
.plan-form input[type=radio] {
    position: absolute;
    visibility: hidden;
}
.plan-form label {
    display: block;
    position: relative;
    font-weight: 300;
    padding: 8px 25% 0 30px;
    margin: 10px auto;
    height: 30px;
    white-space: nowrap;
    z-index: 9;
    cursor: pointer;
    -webkit-transition: all 0.25s linear;
}
.plan-form .check {
    display: block;
    position: absolute;
    border: 2px solid #5A6677;
    border-radius: 100%;
    height: 14px;
    width: 14px;
    top: 20px;
    left: 0;
    z-index: 5;
    transition: border .15s linear;
    -webkit-transition: border .15s linear;
}
.plan-form .check::before {
    display: block;
    position: absolute;
    content: '';
    border-radius: 100%;
    height: 8px;
    width: 8px;
    top: 3px;
    left: 3px;
    margin: auto;
    transition: background 0.15s linear;
    -webkit-transition: background 0.15s linear;
}
input[type=radio]:checked ~ .check {
    border: 2px solid #0DFF92;
}
input[type=radio]:checked ~ .check::before {
    background: #0DFF92;
}
input[type=radio]:checked ~ label {
    color: #0C7546;
}
input#name {
    border: none;
    border-bottom: 1px solid #aaa;
}
/* end radio buttons style */

.form-row {
    margin-bottom: 50px;
}

.result {
    border-bottom: 1px solid #aaa;
    font-size: 24px;
    color: #50E9A1;
}
.panel.left,
.panel.right {
    position: relative;
    display: inline-block;
    min-height: 950px;
    margin: -30px 0 50px 0;
    display: inline-block;
    z-index: 1;
}
.panel.left {
    padding: 50px;
    background-color: #fff;
}
.panel.right {
    float:left;
    color: #fff;
    text-align: center;

    padding: 50px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#81f98a+1,42beea+100 */
    
    background: #81f98a;
    /* Old browsers */
    
    background: -moz-linear-gradient(-45deg, #81f98a 1%, #42beea 100%);
    /* FF3.6-15 */
    
    background: -webkit-linear-gradient(-45deg, #81f98a 1%, #42beea 100%);
    /* Chrome10-25,Safari5.1-6 */
    
    background: linear-gradient(135deg, #81f98a 1%, #42beea 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#81f98a', endColorstr='#42beea', GradientType=1);
    /* IE6-9 fallback on horizontal gradient */
}
.panel.right h3,
.panel.right h4 {
    color: #fff;
}
.total-value,
.predicted-value {
    border-bottom: 1px solid #fff;
}
.total-value,
.predicted-value,
.risk-value,
.additional-info {
    margin-bottom: 40px;
}
.total-value .value {
    font-size: 2em;
}
.predicted-value .value {
    font-size: 3em;
}
.additional-info {
    font-size: 0.85em;
}
.button {
    display: inline-block;
    text-align: center;
    margin: 2.5em 0;
    width: 240px;
    background-color: #FFF;
    border-radius: 30px;
    -webkit-box-shadow: 0px 15px 32px 8px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 15px 32px 8px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 15px 32px 8px rgba(0, 0, 0, 0.2);
}
.button-inner {
    padding: 15px 20px;
    font-size: 1em;
    color: #5A6677;
}
.nav-right {
    margin: 0;
    float: left;
    padding: 0;
}
.nav-button {
    display: inline-block;
    text-align: center;
    width: 100px;
    background-color: #fff;
    border: 1px solid #fff;
}
.nav-button--login {
    border-radius: 30px 0 0 30px;
}
.nav-button--register {
    border-radius: 0 30px 30px 0;
    margin-left: -5px;
    background-color: transparent;
    color: #fff;
}
.nav-button--register .button-inner {
    color: #fff;
}
.page-title {
    position: absolute;
    left: 5%;
    bottom: 22%;
    color: #50E9A1;
}
footer {
    background: #2D3137;
}
footer .footer-section {
    line-height: 3.5;
    color: #fff;
}
footer .container {
    padding: 40px 0;
}
footer .logo {
    margin-left: -20px;
}
footer .logo span {
    font-size: 1.225em;
}
footer span.tel {
    color: #fff;
}
footer .copyright {
    padding: 30px 0 0 0;
    float: left;
}
footer .footer-links {
    float: right;
    padding: 30px 0 0 0;
}
footer .copyright,
footer .footer-links {
    color: #fff;
}
footer .copyright span {
    text-decoration: underline;
}
footer .footer-note {
    padding: 50px 5% 100px 5%;
    font-size: 0.8em;
    color: #bbb;
    background-color: #191919;
}
/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 480px) {
    /* ====================
    INTERMEDIATE: Menu
   ==================== */
    
    nav a {
        float: left;
        margin: 10px 18px;
        margin-bottom: 0;
    }
    nav li:first-child a {
        margin-left: 0;
    }
    nav li:last-child a {
        margin-right: 0;
    }
    /* ========================
    INTERMEDIATE: IE Fixes
   ======================== */
    
    nav ul li {
        display: inline;
    }
    .oldie nav a {
        margin: 0 0.7%;
    }
}
@media only screen and (min-width: 768px) {
    /* ====================
    WIDE: CSS3 Effects
   ==================== */
    
    .header-container,
    .main aside {
        /*        -webkit-box-shadow: 0 5px 10px #aaa;
           -moz-box-shadow: 0 5px 10px #aaa;
                box-shadow: 0 5px 10px #aaa;*/
    }
    /* ============
    WIDE: Menu
   ============ */
    /*    nav {
        float: left;
        width: 38%;
    }*/
    /* ============
    WIDE: Main
   ============ */
    
    .main article {
        float: left;
        width: 60%;
    }
    .main aside {
        float: left;
        width: 30%;
    }
    .panel.left, .panel.right {
    width:80%;
    -webkit-box-shadow: 0px 10px 32px 8px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0px 10px 32px 8px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 10px 32px 8px rgba(0, 0, 0, 0.4);
    }

    .panel.left {
        width:45%;
    }
    .panel.right {
        width:25%;
        float: right;
    }

    .form-row {
    margin-bottom: 20px;
}

}


@media only screen and (min-width: 859px) {

    nav.main-menu {
        display:block;
        padding: 40px 0 0 20px;
    }
}

@media only screen and (min-width: 1000px) {
    .panel.left {
        margin-left: 5%;
    }
    .panel.right {
        margin-right: 5%;
    }
    .nav-right {
        margin: -4px 5%;
        float: right;
        margin-right: 5%;
    }
}
@media only screen and (min-width: 1140px) {
    /* ===============
    Maximal Width
   =============== */
    
    .wrapper {
        max-width: 100%;
        margin: 0 auto;
    }
    .hero h1 {
        font-size: 2.8em;
    }
}
/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}
.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}
.invisible {
    visibility: hidden;
}
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
}
.clearfix {
    *zoom: 1;
}
/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }
    a,
    a:visited {
        text-decoration: underline;
    }
    a[href]:after {
        content: " (" attr(href) ")";
    }
    abbr[title]:after {
        content: " (" attr(title) ")";
    }
    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }
    thead {
        display: table-header-group;
    }
    tr,
    img {
        page-break-inside: avoid;
    }
    img {
        max-width: 100% !important;
    }
    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }
    h2,
    h3 {
        page-break-after: avoid;
    }
}